<h1>All tasks</h1>
<ul class="list-unstyled">
  <% @tasks.each do |task| %>
    <li>
      <%= task.completed ? '☑' : '☐' %>
      <%= link_to task.title, task_path(task) %>
    </li>
  <% end %>
</ul>
<hr>
<%= link_to '+ Add a new task', new_task_path %>
