<h1>All tasks</h1>
<ul class="list-unstyled">
  <% @tasks.each do |task| %>
    <li>
      <%= task.completed ? 'â˜‘' : 'â˜' %>
      <%= link_to task.title, task_path(task) %>
      <%= link_to 'ðŸ—‘ï¸', task_path(task), method: :delete, data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>
<hr>
<%= link_to '+ Add a new task', new_task_path %>
